<div>
    <h2 data-translate="weareholidaysApp.tripPeople.home.title">Trip People</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="trip-people.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="weareholidaysApp.tripPeople.home.createLabel">
                        Create new Trip People
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="phoneBookType"><span data-translate="weareholidaysApp.tripPeople.phoneBookType">Phone Book Type</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="facebookType"><span data-translate="weareholidaysApp.tripPeople.facebookType">Facebook Type</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span data-translate="weareholidaysApp.tripPeople.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="email"><span data-translate="weareholidaysApp.tripPeople.email">Email</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="imageLocalUri"><span data-translate="weareholidaysApp.tripPeople.imageLocalUri">Image Local Uri</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="imageRemoteUri"><span data-translate="weareholidaysApp.tripPeople.imageRemoteUri">Image Remote Uri</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="type"><span data-translate="weareholidaysApp.tripPeople.type">Type</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="inTrip"><span data-translate="weareholidaysApp.tripPeople.inTrip">In Trip</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="identifier"><span data-translate="weareholidaysApp.tripPeople.identifier">Identifier</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="tripPeople in vm.tripPeople track by tripPeople.id">
                    <td><a ui-sref="trip-people-detail({id:tripPeople.id})">{{tripPeople.id}}</a></td>
                    <td>{{tripPeople.phoneBookType}}</td>
                    <td>{{tripPeople.facebookType}}</td>
                    <td>{{tripPeople.name}}</td>
                    <td>{{tripPeople.email}}</td>
                    <td>{{tripPeople.imageLocalUri}}</td>
                    <td>{{tripPeople.imageRemoteUri}}</td>
                    <td>{{tripPeople.type}}</td>
                    <td>{{tripPeople.inTrip}}</td>
                    <td>{{tripPeople.identifier}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="trip-people-detail({id:tripPeople.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="trip-people.edit({id:tripPeople.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="trip-people.delete({id:tripPeople.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
