
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myTripSummaryLabel" data-translate="weareholidaysApp.tripSummary.home.createOrEditLabel">Create or edit a Trip Summary</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.tripSummary.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.tripSummary.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="weareholidaysApp.tripSummary.twitter" for="field_twitter">Twitter</label>
            <input type="number" class="form-control" name="twitter" id="field_twitter"
                    ng-model="vm.tripSummary.twitter"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="weareholidaysApp.tripSummary.fb" for="field_fb">Fb</label>
            <input type="number" class="form-control" name="fb" id="field_fb"
                    ng-model="vm.tripSummary.fb"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="weareholidaysApp.tripSummary.instagram" for="field_instagram">Instagram</label>
            <input type="number" class="form-control" name="instagram" id="field_instagram"
                    ng-model="vm.tripSummary.instagram"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="weareholidaysApp.tripSummary.photos" for="field_photos">Photos</label>
            <input type="number" class="form-control" name="photos" id="field_photos"
                    ng-model="vm.tripSummary.photos"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="weareholidaysApp.tripSummary.publicPhotos" for="field_publicPhotos">Public Photos</label>
            <input type="number" class="form-control" name="publicPhotos" id="field_publicPhotos"
                    ng-model="vm.tripSummary.publicPhotos"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="weareholidaysApp.tripSummary.notes" for="field_notes">Notes</label>
            <input type="number" class="form-control" name="notes" id="field_notes"
                    ng-model="vm.tripSummary.notes"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="weareholidaysApp.tripSummary.videos" for="field_videos">Videos</label>
            <input type="number" class="form-control" name="videos" id="field_videos"
                    ng-model="vm.tripSummary.videos"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="weareholidaysApp.tripSummary.checkIns" for="field_checkIns">Check Ins</label>
            <input type="number" class="form-control" name="checkIns" id="field_checkIns"
                    ng-model="vm.tripSummary.checkIns"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="weareholidaysApp.tripSummary.distance" for="field_distance">Distance</label>
            <input type="number" class="form-control" name="distance" id="field_distance"
                    ng-model="vm.tripSummary.distance"
                    />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
