<div>
    <h2 data-translate="weareholidaysApp.daySummary.home.title">Day Summaries</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="day-summary.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="weareholidaysApp.daySummary.home.createLabel">
                        Create new Day Summary
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="twitter"><span data-translate="weareholidaysApp.daySummary.twitter">Twitter</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="fb"><span data-translate="weareholidaysApp.daySummary.fb">Fb</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="instagram"><span data-translate="weareholidaysApp.daySummary.instagram">Instagram</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="photos"><span data-translate="weareholidaysApp.daySummary.photos">Photos</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="publicPhotos"><span data-translate="weareholidaysApp.daySummary.publicPhotos">Public Photos</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="notes"><span data-translate="weareholidaysApp.daySummary.notes">Notes</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="videos"><span data-translate="weareholidaysApp.daySummary.videos">Videos</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="checkIns"><span data-translate="weareholidaysApp.daySummary.checkIns">Check Ins</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="distance"><span data-translate="weareholidaysApp.daySummary.distance">Distance</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="daySummary in vm.daySummaries track by daySummary.id">
                    <td><a ui-sref="day-summary-detail({id:daySummary.id})">{{daySummary.id}}</a></td>
                    <td>{{daySummary.twitter}}</td>
                    <td>{{daySummary.fb}}</td>
                    <td>{{daySummary.instagram}}</td>
                    <td>{{daySummary.photos}}</td>
                    <td>{{daySummary.publicPhotos}}</td>
                    <td>{{daySummary.notes}}</td>
                    <td>{{daySummary.videos}}</td>
                    <td>{{daySummary.checkIns}}</td>
                    <td>{{daySummary.distance}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="day-summary-detail({id:daySummary.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="day-summary.edit({id:daySummary.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="day-summary.delete({id:daySummary.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
