
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myNoteLabel" data-translate="weareholidaysApp.note.home.createOrEditLabel">Create or edit a Note</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.note.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.note.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="weareholidaysApp.note.content" for="field_content">Content</label>
            <input type="text" class="form-control" name="content" id="field_content"
                    ng-model="vm.note.content"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="weareholidaysApp.note.locationLat" for="field_locationLat">Location Lat</label>
            <input type="number" class="form-control" name="locationLat" id="field_locationLat"
                    ng-model="vm.note.locationLat"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="weareholidaysApp.note.locationLong" for="field_locationLong">Location Long</label>
            <input type="number" class="form-control" name="locationLong" id="field_locationLong"
                    ng-model="vm.note.locationLong"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="weareholidaysApp.note.locationText" for="field_locationText">Location Text</label>
            <input type="text" class="form-control" name="locationText" id="field_locationText"
                    ng-model="vm.note.locationText"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="weareholidaysApp.note.placeId" for="field_placeId">Place Id</label>
            <input type="text" class="form-control" name="placeId" id="field_placeId"
                    ng-model="vm.note.placeId"
                    />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
