<div>
    <h2 data-translate="weareholidaysApp.album.home.title">Albums</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="album.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="weareholidaysApp.album.home.createLabel">
                        Create new Album
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="content"><span data-translate="weareholidaysApp.album.content">Content</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="mediaCount"><span data-translate="weareholidaysApp.album.mediaCount">Media Count</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="publicMediaCount"><span data-translate="weareholidaysApp.album.publicMediaCount">Public Media Count</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="locationLat"><span data-translate="weareholidaysApp.album.locationLat">Location Lat</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="locationLong"><span data-translate="weareholidaysApp.album.locationLong">Location Long</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="locationText"><span data-translate="weareholidaysApp.album.locationText">Location Text</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="startTime"><span data-translate="weareholidaysApp.album.startTime">Start Time</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="endTime"><span data-translate="weareholidaysApp.album.endTime">End Time</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="source"><span data-translate="weareholidaysApp.album.source">Source</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="category"><span data-translate="weareholidaysApp.album.category">Category</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="album in vm.albums track by album.id">
                    <td><a ui-sref="album-detail({id:album.id})">{{album.id}}</a></td>
                    <td>{{album.content}}</td>
                    <td>{{album.mediaCount}}</td>
                    <td>{{album.publicMediaCount}}</td>
                    <td>{{album.locationLat}}</td>
                    <td>{{album.locationLong}}</td>
                    <td>{{album.locationText}}</td>
                    <td>{{album.startTime}}</td>
                    <td>{{album.endTime}}</td>
                    <td>{{album.source}}</td>
                    <td>{{album.category}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="album-detail({id:album.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="album.edit({id:album.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="album.delete({id:album.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
